#include <iostream>
#include <stdio.h>

using namespace std;

void func(string ops);

int main(){
    cout << "1) Print Addition Table" << endl;
    cout << "2) Print Subtraction Table" << endl;
    cout << "3) Print Multiplication Table" << endl;
    cout << "4) Exit Program" << endl;
    
    cout << endl << "Enter Choice: ";
    int choice;
    cin >> choice;
    
    switch (choice){
        case 1:
            cout << "Addition table!" << endl;
            func("+");
            break;
        
        case 2:
            cout << "Subtraction table!" << endl;
            func("-");
            break;
        
        case 3:
            cout << "Multiplication table!" << endl;
            func("*");
            break;
        
        case 4:
            cout << "End of Program." << endl;
            exit(0);
            break;
            
        default:
            cout << "Not a Valid Choice." << endl;
            main();
            break;
    }
    return 0;
}

void func(string ops){
    int fint, sint;
    bool ftof = false;
    
    while (!ftof){
    
        cout << endl << "Please input number between 1 and 12: ";
        cin >> fint;

        if ((fint >= 1) && (fint <= 12)){
            
            ftof = true;
            bool stof = false;
            
            while (!stof) {
                cout << "Please input a number between " << fint << " and 12: ";
                cin >> sint;
                cout << endl;
        
                if ((sint >= fint) && (sint <= 12)){
                    stof = true;
                    int count = 0;
                    
                    if (ops == "+"){
                        cout << "+ |\t";
                    }
            
                    else if (ops == "*"){
                        cout << "* |\t";
                    }
            
                    else if (ops == "-"){
                        cout << "- |\t";
                    }
            
                    for (int i = fint; i < (sint + 1); ++i){
                        cout << i << "\t";
                        ++count;
                    }

                    cout << endl;
            
                    for (int i = 0; i <= count; ++i){
                        cout << "----";
                    }
            
                    cout << endl;

                    for (int i = fint; i <= sint; ++i){
                
                        if (i >= 10){
                            cout << i << "|\t";
                        }
                        else{
                            cout << i << " |\t";
                        }
                
                
                        for (int p = fint; p <= sint; ++p){
                            
                            if (ops == "+"){
                                cout << i + p << "\t";
                            }
                            else if (ops == "*"){
                                cout << i * p << "\t";
                            }
                            else if (ops == "-"){
                                cout << i - p << "\t";
                            }
                            
                        }
                        cout << endl;
                    }
                    cout << endl;
    
                }
                else{
                    cout << "Out of range" << endl;
        
                }
            }
        }
        else{
            cout << "Out of range" << endl;
        }
    
    }

    cout << "Please push \"Enter\": ";
    cin.get();
    cin.ignore();
    main();
}
